/*
Theme Name:   Trolllike
Description:  2023 Child Theme
Author:       lislis
Author URI:   https://lislis.de
Template:     twentytwentythree
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  trolllike
*/

* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
}

.single-view {
  position: absolute;
  z-index: 95;
  width: 88vw;
  padding: 1vw;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  //right: 0;
  left: 4vw;
  margin: auto;
  height: 70vh;
  border-radius: 10px;
  //overflow: scroll;
}

@media (min-width: 800px) {
  .single-view {
    width: 60vw;
  }
}


.single-view .wp-block-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  margin: auto;
  text-align: center;
}

.single-view iframe,
.single-view video,
.single-view object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.single-view .wp-block-gallery {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  padding: 0 0 1em;
  height: 70vh;
  overflow-y: hidden;
}

.single-view .wp-block-gallery .wp-block-image {
  flex-basis: 50%;
  flex-shrink: 0;
//  height: 100%;
  //  background-color: aqua;
  text-align: center;
}

@media (max-width: 800px) {
  .single-view .wp-block-gallery {
    scrollbar-width: none;

  }
  .single-view .wp-block-gallery .wp-block-image {
    flex-basis: 100%;
    height: auto;
  }
}

@media (min-width: 1920px) {
  .single-view .wp-block-gallery .wp-block-image {
    height: 100%;
  }
}

.single-view .wp-block-gallery .wp-block-image img {
  position: relative;
}

.single-content-wrapper {
  overflow: scroll;
  height: 100%;
  padding-right: 1em;
}


.filter {
  position: absolute;
  z-index: 97;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20em;
  padding: 1em;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-7em);
  transition: background-color 200ms ease, transform 200ms ease;
  height: 0;
}

.filter.is-open  {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100vh;
  transform: translateX(0);
}

.filter-toggle {
  display: block;
  width: 4.5em;
  height: 4.5em;
  flex-basis: 4.5em;
  flex-shrink: 0;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  border: solid 3px black;
}

.filter-inner {
  margin-top: 2em;
  overflow: scroll;
  scrollbar-color: black black;
  scrollbar-width: none;
}

.filter-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}

.filter-tag {
  font: inherit;
  background-color: white;
  border: none;
  border-radius: 20px;
  display: inline-block;
  padding: 0.2em 0.7em 0.1em;
  margin: 1em 1em 0 0;
  cursor: pointer;
  border: solid 2px black;
  line-height: 1.2;
}
.filter-tag.is-current {
  background-color: #ff1493;
}

.filter-icon {
  display: block;
  height: 2.5em;
  width: 2.5em;
  margin: auto;
}

.a11y-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

 .close-btn {
   position: absolute;
   background: white;
   display: block;
   width: 3em;
   height: 3em;
   border-radius: 50%;
   text-align: center;
   top: -1.5em;
   z-index: 99;
   right: -1.5em;
   border: 3px solid black;
 }


 .close-btn svg {
   fill: black;
   idth: 100%;
   height: 100%;
 }

 .magic-window {
   position: absolute;
   background: white;
   display: block;
   border-radius: 50%;
   text-align: center;
   bottom: 1em;
   z-index: 99;
   right: 1em;
   width: 3em;
   height: 3em;
   cursor: pointer;
   border: 3px solid black;
 }

 .magic-window.is-active {
   background-color: #ff1493;
 }

 .external-link {
   font-size: 6vmin;
   color: #ff1493;
   line-height: 1.45;
   text-decoration: underline;
 }
